.navbar img {
    width: 40px; /* Adjust width of the logo */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Space between the logo and the text */
    object-fit: contain; /* Ensure the logo fits within the dimensions */
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar .navbar-brand img {
    margin-right: 10px; /* Adjust this value to control space between logo and text */
  }
  .nav-link{
    color: white !important;
    /* font-size: 19px; */
    padding: 9px 30px !important;
  }