html {
  scroll-behavior: smooth;
}

.election-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  .title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .section h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .subsection {
    margin-top: 20px;
  }
  
  .subsection h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: disclosure-closed;
    padding-left: 40px;
  }

  .election-container a{
    text-decoration: none;
    color: black;
    font-size: 17px;
  }

  ol {
    padding-left: 40px;
  }
  
  ul li {
    margin-bottom: 8px;
  }
  
  .highlight-box {
    margin-top: 20px;
    padding: 15px;
    background-color: #e7f4ff;
    border-left: 5px solid #007bff;
    border-radius: 5px;
  }
  
  .highlight-box p {
    margin: 0;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .election-container {
      padding: 10px;
    }
  
    .title {
      font-size: 2rem;
    }
  
    .section h2 {
      font-size: 1.5rem;
    }
  
    .subsection h3 {
      font-size: 1.3rem;
    }
  }


  .image-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 20px; /* Space between images */
    padding: 20px;
    justify-items: center; /* Center images horizontally */
    align-items: center; /* Center images vertically */
  }
  
  .image-item {
    width: 100%;
    height: auto;
    max-width: 300px; /* Limit max width */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .image-item:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
  }
  
.step_head{
  font-size: 1.3rem;
}

.img-thumbnail{
  width: 400px;
  height: 200px;
  object-fit: cover;
  background-position: center;
}

.hover-zoom {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-zoom:hover {
  transform: scale(1.1); /* Increase the size by 10% */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Add a shadow for a subtle effect */
}

